<div>
  <div class="row">
    <div class="col">
  <div>
    <%= "This is the div for the search bar" %>
  </div>
      <div class="service-card">
      <% @services.each do |service| %>
        <ul>
          <li><%= service.category.image%></li>
          <li><%= service.user.nickname %></li>
          <li><%= service.category.name%></li>
          <li><%= service.location %></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div></div>
</div>
