<div class="container"s>
  <div>
    <%= "This is the div for the search bar" %>
  </div>

    <div class="services">
      <% @services.each do |service| %>
        <div class="service-card">
          <ul>
            <li><%= service.category.image%></li>
            <li><%= service.user.nickname %></li>
            <li><%= service.category.name%></li>
            <li><%= service.location %></li>
          </ul>
        </div>
      <% end %>
    <div>

</div>
