<div>
  <div>
    <%= "This is the div for the search bar" %>
  </div>
  <div class="row">
    <div class="col">
      <% @services.each do |service| %>
        <ul>
          <li><%= service.category.name%></li>
          <li><%= service.category.image%></li>
          <li><%= service.name %></li>
          <li><%= service.user.nickname %></li>
        </ul>

      <% end %>
    </div>
  </div>
  <div></div>
</div>
