<div class="container">
  <div class="service-show">
    <div class="service-head">
      <ul class="service-head-icons">
      <li><% if @service.user == current_user %>
        <%= link_to edit_service_path do %>
          <i class="fas fa-edit"></i>
        <% end %></li>
        <li><%=link_to service_path(@service), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none text-black" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %></li>
      <% end %>
      </ul>
        <div class="show-img">
          <% if @service.user.photo.attached? %>
            <%= cl_image_tag @service.user.photo.key, height: 200, width: 200 %>
          <% else %>
            <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg",
              style: "object-fit: cover", alt: "Profile Picture") %>
          <% end %>
      </div>
    </div>
    <div>
      <div class="show-headers">
        <h1 class="card-title"><%= @service.name  %></h1>
        <p class="card-title"><%=link_to user_path(@service.user) do %>
          <i class="fas fa-user fa-lg"></i>
          <%=@service.user.first_name %> <%=@service.user.last_name %>
          <% end %>
        </p>

        <p class="card-title">
          <i class="fas fa-map-marker-alt fa-lg"></i>
          <%=@service.location %>
        </p>
      </div>
      <hr>
      <div class="weekdays-container">
        <% if @service.monday %>
          <i class="fas fa-clock fa-lg week-item"></i>
        <% else %>
          <i class="far fa-circle fa-lg week-item"></i>
        <% end %>
        <p>Mon</p>
        <% if @service.tuesday %>
          <i class="fas fa-clock fa-lg week-item"></i>
        <% else %>
          <i class="far fa-circle fa-lg week-item"></i>
        <% end %>
          <p>Tue</p>
        <% if @service.wednesday %>
          <i class="fas fa-clock fa-lg week-item"></i>
        <% else %>
          <i class="far fa-circle fa-lg week-item"></i>
        <% end %>
        <p>Wed</p>
        <% if @service.thursday %>
          <i class="fas fa-clock fa-lg week-item"></i>
        <% else %>
          <i class="far fa-circle fa-lg week-item"></i>
        <% end %>
        <p>Thu</p>
        <% if @service.friday %>
          <i class="fas fa-clock fa-lg week-item"></i>
        <% else %>
          <i class="far fa-circle fa-lg week-item"></i>
        <% end %>
        <p>Fri</p>
        <% if @service.saturday %>
          <i class="fas fa-clock fa-lg week-item"></i>
        <% else %>
          <i class="far fa-circle fa-lg week-item"></i>
        <% end %>
        <p>Sat</p>
        <% if @service.sunday %>
          <i class="fas fa-clock fa-lg week-item"></i>
        <% else %>
          <i class="far fa-circle fa-lg week-item"></i>
        <% end %>
        <p>Sun</p>
      </div>
      <div class="show-description">
        <p class="card-text"><%=@service.description %></p>
      </div>
      <div class="show-buttons">
        <%= link_to "Send your request!",  new_service_booking_path(@service), class: "btn-call-action" %>
        <%= link_to "Let's chat", root_path, class: "btn-call-action-reverse" %>
      </div>
    </div>
  </div>
</div>
