<div class="container">
  <div class="chats">
    <h2 class="chatroom-title">Chats</h2>
    <ul class= "list-group my-3">
      <% if @chatrooms.empty? %>
        <p class="dashboard-title-explanation">There are no messages yet</p>
      <% else %>
        <% @chatrooms.each do |item| %>
          <%= link_to chatroom_path(item) do %>
            <li class= "chatroom-card">
              <% if item.provider == current_user %>
                <% if item.customer.photo.attached? %>
                  <%= cl_image_tag item.customer.photo.key, height: 80, width: 80 %>
                <% else %>
                  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg", height: 80, width: 80, alt: "Profile Picture") %>
                <% end %>
                <div class="chatroom-card-body">
                  <div class="chatroom-card-body-header">
                    <h5><%= item.customer.first_name%> <%= item.customer.last_name%></h5>
                    <% if item.messages.empty? %>
                      <p><%= item.created_at.strftime("%b %e, %l:%M %p") %></p>
                    <% else %>
                      <p><%= item.messages.last.created_at.strftime("%b %e, %l:%M %p") %></p>
                    <% end %>
                  </div>
                  <div class="chatroom-card-body-message">
                    <% if item.messages.empty? %>
                      <p>Empty chat</p>
                    <% else %>
                      <h6><%= item.messages.last.user.first_name %>:</h6>
                      <p><%= item.messages.last.content %></p>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <% if item.provider.photo.attached? %>
                  <%= cl_image_tag item.provider.photo.key, height: 80, width: 80 %>
                <% else %>
                  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg", height: 80, width: 80, alt: "Profile Picture") %>
                <% end %>
                 <div class="chatroom-card-body">
                  <div class="chatroom-card-body-header">
                    <h5><%= item.provider.first_name%> <%= item.provider.last_name%></h5>
                    <% if item.messages.empty? %>
                      <p><%= item.created_at.strftime("%b %e, %l:%M %p") %></p>
                    <% else %>
                      <p><%= item.messages.last.created_at.strftime("%b %e, %l:%M %p") %></p>
                    <% end %>
                  </div>
                  <div class="chatroom-card-body-message">
                    <% if item.messages.empty? %>
                      <p>Send your first message</p>
                    <% else %>
                      <h6><%= item.messages.last.user.first_name %>:</h6>
                      <p><%= item.messages.last.content %></p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
