<div class= "dashboard-hero">
<div class="dashboard-hero-img"></div>
  <div class= "dashboard-hero-info">
    <h1> <strong>Hey <%= current_user.first_name %>!</strong> </h1>
    <h4>Take a look at your dashboard</h4>
  </div>
  <div class= "dashboard-hero-credit">
    <span><i class="far fa-clock fa-3x"></i><h3><%= pluralize(current_user.credit, 'credit' ) %></h3></span>
  </div>
</div>

<div class="dashboard">
  <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Sent requests</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Received requests</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

      <div class="container">
        <div class="row">

          <div class="col-6">
            <h3 class="dashboard-title"><strong>Review</strong></h3>
            <p class="dashboard-title-explanation">Take a look at your received services and give your review</p>
            <div class="dashboard-box">
              <% if  @bookings.where(status: "completed").empty? && @bookings.where(status: "reviewed").empty? %>
                  <p class="dashboard-title-no-bookings"><em>No services to review</em></p>
              <% else %>
                <% @bookings.each do |booking| %>
                  <% if booking.status == "completed" || booking.status == "reviewed"  %>
                    <li class= "dashboard-card">
                      <%= image_tag booking.service.category.image, width: 200 %>
                      <div class="dashboard-card-info">
                        <h5><%= booking.service.name%></h5>
                        <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.strftime("%A, %b %d")%></p>
                        <p><i class="fas fa-map-marker-alt"></i>
                        <%= booking.service.location%></p>
                        <p><i class="fas fa-user"></i> Provided by <%= link_to booking.service.user.first_name, booking.service.user %></p>

                      </div>

                      <% if booking.status == "reviewed" %>
                          <span class="dashboard-card-status status-reviewed"><i class="fas fa-check-circle fa-lg"></i>
                            <%= booking.format_status_for(:customer) %></span>
                      <% else %>
                        <button class="btn-dashboard btn-give-review">
                          <%= link_to "Review",
                              new_service_review_path(booking.service, booking_id: booking.id) %></button>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="col-6">
            <h3 class="dashboard-title"><strong>Upcoming services</strong></h3>
            <p class="dashboard-title-explanation">Take a look at your upcoming services</p>
            <div class="dashboard-box">
              <% if  @bookings.where(status: "accepted").empty? %>
                <p class="dashboard-title-no-bookings"><em>No upcoming services</em></p>
              <% else %>
                <% @bookings.each do |booking| %>
                  <% if booking.status == "accepted" %>
                    <li class= "dashboard-card">
                      <%= image_tag booking.service.category.image, width: 200 %>
                      <div class="dashboard-card-info">
                        <h5><%= booking.service.name%></h5>
                        <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.strftime("%A, %b %d")%></p>
                        <p><i class="fas fa-map-marker-alt"></i>
                        <%= booking.service.location%></p>
                        <p><i class="fas fa-user"></i> Provided by <%= link_to booking.service.user.first_name, booking.service.user %></p>
                      </div>
                      <span class="dashboard-card-status status-accepted"><i class="fas fa-check-circle fa-lg"></i>
                        <%= booking.format_status_for(:customer) %></span>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="col-12">
            <h3 class="dashboard-title"><strong>Requests</strong></h3>
            <p class="dashboard-title-explanation">Take a look at your sent requests and check the current status</p>

            <div class="dashboard-box">
              <% if @bookings.where(status: "declined").empty? && @bookings.where(status: "approve").empty? %>

                <p class="dashboard-title-no-bookings"><em>No requests to show</em></p>
              <% else %>
                <ul class= "list-group my-3">
                  <div class="row justify-content-start">

                    <% @bookings.each do |booking| %>
                      <% unless booking.status == "completed" || booking.status == "accepted" || booking.status == "reviewed" %>
                        <div class="col-6">
                          <li class= "dashboard-card">
                            <%= image_tag booking.service.category.image, width: 200 %>
                            <div class="dashboard-card-info">
                              <p><%= booking.service.name%></p>
                              <p><%= booking.start_date.strftime("%A, %b %d")%></p>
                              <p><%= booking.service.location%></p>
                              <p><i class="fas fa-user"></i> Provided by <%= link_to booking.service.user.first_name, booking.service.user %></p>
                            </div>

                            <% case booking.status
                                when "approve" %>
                              <span class="dashboard-card-status"><i class="fas fa-clock fa-lg"></i>
                                <%= booking.format_status_for(:customer) %></span>
                              <% when "declined" %>
                              <span class="dashboard-card-status status-declined"><i class="fas fa-times-circle fa-lg"></i>
                                <%= booking.format_status_for(:customer) %></span>
                              <% end %>
                          </li>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </ul>
              <% end %>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="container">
        <div class="row">

          <div class="col-6">
            <h3 class="dashboard-title"><strong>Pending</strong></h3>
            <p class="dashboard-title-explanation">Take a look at your received requests and provided services. Don't forget that the time-credits are transfered only if you confirm that you provided the service</p>
              <div class="dashboard-box">
              <% if @service_bookings.where(status: "accepted").where("start_date <= ?", Date.today).empty? && @service_bookings.where(status: "approve").empty? %>
                <p class="dashboard-title-no-bookings"><em>No pending requests</em></p>
              <% else %>
                <% @service_bookings.each do |booking| %>
                  <% if  booking.status == "accepted" && booking.start_date <= Date.today %>
                    <li class= "dashboard-card">
                      <%= image_tag booking.service.category.image, width: 200 %>
                      <div class="dashboard-card-info">
                        <h5><%= booking.service.name%></h5>
                        <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.strftime("%A, %b %d")%></p>
                        <p><i class="fas fa-map-marker-alt"></i>
                        <%= booking.service.location%></p>
                        <p><i class="fas fa-user"></i> Requested by <%= link_to booking.user.first_name, booking.user %></p>
                      </div>
                      <div>
                        <p style="font-size: 14px; margin-bottom: 4px">Service provided?</p>
                        <button class="btn-dashboard btn-completed"> <%= link_to "Yes", complete_booking_path(booking),
                          method: :post %> </button>
                        <button class="btn-dashboard btn-not-completed"> <%= link_to "No", decline_booking_path(booking),
                          method: :post %> </button>
                      </div>
                    </li>
                  <% elsif booking.status == "approve" %>
                    <li class= "dashboard-card">
                      <%= image_tag booking.service.category.image, width: 200 %>
                      <div class="dashboard-card-info">
                        <h5><%= booking.service.name%></h5>
                        <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.strftime("%A, %b %d")%></p>
                        <p><i class="fas fa-map-marker-alt"></i>
                        <%= booking.service.location%></p>
                        <p><i class="fas fa-user"></i> Requested by <%= link_to booking.user.first_name, booking.user %></p>
                      </div>
                      <button class="btn-dashboard btn-pending">
                        <%= link_to "Pending",
                          service_booking_path(booking.service, booking) %></button>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="col-6">
            <h3 class="dashboard-title"><strong>Upcoming services</strong></h3>
            <p class="dashboard-title-explanation">Take a look at the upcoming services you are providing</p>
            <div class="dashboard-box">
              <% if @service_bookings.where(status: "accepted").empty? %>
                <p class="dashboard-title-no-bookings"><em>No upcoming requests</em></p>
              <% else %>
                <% @service_bookings.each do |booking| %>
                  <% if  booking.status == "accepted" && booking.start_date > Date.today %>
                    <li class= "dashboard-card">
                      <%= image_tag booking.service.category.image, width: 200 %>
                      <div class="dashboard-card-info">
                        <h5><%= booking.service.name%></h5>
                        <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.strftime("%A, %b %d")%></p>
                        <p><i class="fas fa-map-marker-alt"></i>
                        <%= booking.service.location%></p>
                        <p><i class="fas fa-user"></i> Requested by <%= link_to booking.user.first_name, booking.user %></p>
                      </div>
                      <span class="dashboard-card-status status-accepted"><i class="fas fa-check-circle fa-lg"></i>
                        <%= booking.format_status_for(:customer) %></span>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="col-12">
            <h3 class="dashboard-title"><strong>Requests</strong></h3>
            <p class="dashboard-title-explanation">Take a look at pasts requests and their status</p>
            <div class="dashboard-box">
              <% if  @service_bookings.where(status: "completed").empty? && @service_bookings.where(status: "declined").empty? %>
                <p class="dashboard-title-no-bookings"><em>No requests</em></p>
              <% else %>
                <ul class= "list-group">
                  <div class="row justify-content-start">

                    <% @service_bookings.each do |booking| %>
                        <% unless (booking.status == "accepted" && booking.start_date <= Date.today) || booking.status == "approve" || booking.status == "accepted"  %>

                        <div class="col-6">

                          <li class= "dashboard-card">
                            <%= image_tag booking.service.category.image, width: 200 %>
                            <div class="dashboard-card-info">
                              <h5><%= booking.service.name%></h5>
                              <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.strftime("%A, %b %d")%></p>
                              <p><i class="fas fa-map-marker-alt"></i>
                              <%= booking.service.location%></p>
                              <p><i class="fas fa-user"></i> Requested by <%= link_to booking.user.first_name, booking.user %></p>
                            </div>
                            <% case booking.status
                              when "declined" %>
                              <span class="dashboard-card-status status-declined"><i class="fas fa-times-circle fa-lg"></i>
                                <%= booking.format_status_for(:customer) %></span>
                            <% when "completed"%>
                              <span class="dashboard-card-status status-completed"><i class="fas fa-times-circle fa-lg"></i>
                                <%= booking.format_status_for(:customer) %></span>

                            <% when "reviewed"%>
                              <span class="dashboard-card-status status-completed"><i class="fas fa-times-circle fa-lg"></i>
                                <%= booking.format_status_for(:customer) %></span>
                            <% end %>
                          </li>

                        </div>

                      <% end %>
                    <% end %>
                  </div>
                </ul>
              <% end %>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
