<div class= "dashboard-hero">
  <div class= "dashboard-hero-info">
    <h3>Hey <%= current_user.first_name %>!</h3>
    <p>Take a look at your dashboard</p>
  </div>
  <h2 class= "dashboard-hero-credit"><%= current_user.credit %></h2>
</div>
<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="dashboard-title">Sent requests</h3>
        <% if @bookings.blank? %>
          <p>Book your first service!</p>
        <% else %>
          <ul class= "list-group my-3">
            <% @bookings.each do |booking| %>
              <li class= "dashboard-card">
                <%= image_tag booking.service.category.image, width: 200 %>
                <div class="dashboard-card-info">
                  <p><%= booking.service.name%> | <%= booking.service.location%></p>
                  <p>Provided by <strong><%= booking.user.first_name %></p></strong>
                  <p><%= booking.start_date.strftime("%b %d, %Y") %></p>
                </div>
                <% end %>
              </li>
          </ul>
        <% end %>
      </div>
      <div class="col-6">
      <h3 class="dashboard-title">Received requests</h3>
        <% if @my_bookings.blank? %>
          <p>Book your first service!</p>
        <% else %>
          <ul class= "list-group my-3">
            <% @my_bookings.each do |my_booking| %>
              <% my_booking.each do |booking|%>
              <li class= "dashboard-card">
                <%= image_tag booking.service.category.image, width: 200 %>
                <div class="dashboard-card-info">
                  <p><%= booking.service.name%> | <%= booking.service.location%></p>
                  <p>Requested by <strong><%= booking.user.first_name %></p></strong>
                  <p><%= booking.start_date.strftime("%b %d, %Y") %></p>
                </div>
              </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
