<div class="container">
  <div class="booking-confirmation">
    <h3><%= @booking.user.first_name %> needs your service!</h3>
    <div class="row justify-content-evenly">
      <div class="col-4">
        <p class="booking-confirmation-details">
          <%=link_to user_path(@service.user) do %>
            <i class="fas fa-user"></i>
            <%=@booking.user.first_name %> <%=@booking.user.last_name %></p>
          <% end %>
          <p class="booking-confirmation-details">
            <i class="fas fa-tasks"></i>
            <%= @service.name %></p>
      </div>
      <div class="col-4">
        <p class="booking-confirmation-details">
        <i class="fas fa-map-marker-alt"></i>
        <%= @service.location %></p>
        <p class="booking-confirmation-details">
        <i class="far fa-calendar-alt"></i>
        <%= @booking.start_date.strftime("%A, %b %d") %></p>
      </div>
      <div class="booking-confirmation-description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dicta animi molestias ratione.</p>
      </div>
      <div class="booking-confirmation-buttons">
        <% if @booking.status == "pending" %>
          <%= link_to "Decline", decline_booking_path(@booking), method: :post, class:"btn btn-call-action-reverse"%>
          <%= link_to "Accept", accept_booking_path(@booking), method: :post, class:"btn btn-call-action"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
