<div class= "profile-hero">
  <ul class="profile-edit">
      <% if @user == current_user %>
        <li><%= link_to edit_user_path do %>
          <i class="fas fa-user-edit"></i>
        <% end %></li>
        <li><%=link_to user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none text-black" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %></li>
      <% end %>
    </ul>
  <div class= "profile-hero-info">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 200, width: 200 %>
    <% else %>
      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg",
        style: "object-fit: cover", alt: "Profile Picture") %>
    <% end %>
    <h4><%= @user.first_name %> <%= @user.last_name %></h4>
    <ul class="profile-media">
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 border-end border-secondary border-2 my-5">
      <h3 class="dashboard-title">Description</h3>
      <p class = "profile-description"><%= @user.bio %></p>

    </div>
    <div class="col-6 my-5">
      <h3 class="dashboard-title">Offered services</h3>
      <div class="profile-service-box">
        <ul><% @my_services.each do |my_service| %>
          <li class="profile-service"><%=link_to my_service.name, service_path(my_service.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
