<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(https://images.unsplash.com/photo-1524678714210-9917a6c619c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80); background-position: center;">
  <div class= "hero">
      <%= image_tag "fairpay-logo.png", class:"img" %>
      <p><b>...because time is more than money</b></p>
      <div class="homeglobal-searchbar">
      <%= form_tag services_path, method: :get, class:'d-flex' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "home-searchbar col-md-4 col-md-offset-4",
          placeholder: "What service are you looking for?"
      %>
      <div>
        <%= button_tag(type: "submit", class: "btn btn-home") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="carousel container">
<h1 class= "text-center">Some of the service provided . . .</h1>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="service-img">
          <%= image_tag("business.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Consulting</p>
            <h3>Translation Spanish-German</h3>
            <p><i class="fas fa-user"></i> Monica</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
        </div>
        <div class="card">
          <div class="service-img">
          <%= image_tag("grammar.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Education</p>
            <h3>Spanish Lesson</h3>
            <p><i class="fas fa-user"></i> Carlos</p>
            <p><i class="fas fa-map-marker-alt"></i> Remote and Berlin</p>
            </div>
        </div>
        <div class="card">
          <div class="service-img">
          <%= image_tag("trolley.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Transport</p>
            <h3>Help Packing</h3>
            <p><i class="fas fa-user"></i> Frank</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="service-img">
          <%= image_tag("paint-brush.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Home</p>
            <h3>Electrical work</h3>
            <p><i class="fas fa-user"></i> Andrea</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin and Postdam</p>
            </div>
        </div>
        <div class="card">
          <div class="service-img">
          <%= image_tag("business.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Consulting</p>
            <h3>Tax Advice</h3>
            <p><i class="fas fa-user"></i> Boris</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin and Remote</p>
            </div>
        </div>
        <div class="card">
          <div class="service-img">
          <%= image_tag("clock.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Miscellaneous</p>
            <h3>Psychological Advise</h3>
            <p><i class="fas fa-user"></i> John</p>
            <p><i class="fas fa-map-marker-alt"></i> London and Remote</p>
            </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="service-img">
          <%= image_tag("sweep.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Cleaning</p>
            <h3>Cleaning</h3>
            <p><i class="fas fa-user"></i> Carla</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
        </div>
        <div class="card">
          <div class="service-img">
          <%= image_tag("charity.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Care</p>
            <h3>Baby Sitting</h3>
            <p><i class="fas fa-user"></i> Carla</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
        </div>
        <div class="card">
          <div class="service-img">
          <%= image_tag("grammar.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Education</p>
            <h3>Guitar Lesson</h3>
            <p><i class="fas fa-user"></i> Carlos</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>

<div class="about-us">
  <div class="container">
    <h1> Why Fairpay? </h1>
    <div class="row">
      <div class ="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="about-img">
            <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg", alt: "Service Picture") %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Hello, I’m Anna.</h5>
            <p class="card-text">I am a single mother living in Berlin. My passion is dancing, and I had been wanting to go for Salsa classes for a long time. Unfortunately, all courses were in the late afternoon</p>
          </div>
        </div>
      </div>
      <div class ="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">when I had my little daughter at home. Thanks to Fairpay I found Carla who takes care of her during my Salsa class.</p>
          <div class="about-img">
            <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg", alt: "Service Picture") %>
          </div>
            <p>I pay Carla with credits I get from grocery shopping for an elderly lady when my daughter is in Kindergarden.</p>
          </div>
        </div>
      </div>
      <div class ="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">I am very grateful to have found a place, where I can offer my time to help someone and that gives me the opportunity to “pay” for a service I need and couldn't afford paying for every week.</p>
          <div class="about-img">
            <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg", alt: "Service Picture") %>
          </div>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
