<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(https://images.unsplash.com/photo-1524678714210-9917a6c619c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80); background-position: center;">
  <div class= "hero">
      <%= image_tag "fairpay-logo.png", class:"img" %>
      <div class= "tagline" style= "margin-top: 15px;">
      <p>Offer one hour of your time and request one hour for any service you need.</p>
      <p>From packing to consulting to grocery shopping, be a part of a collaborative community.</p>
      </div>
      <div class="homeglobal-searchbar">
      <%= form_tag services_path, method: :get, class:'d-flex' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "home-searchbar col-md-4 col-md-offset-4",
          placeholder: "What service are you looking for?"
      %>
      <div>
        <%= button_tag(type: "submit", class: "btn btn-home") do %>
            <i class="fas fa-search " style="color: #CAC6CF;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="carousel container">
<h1 class= "text-center"><b>Some of the offered services</b></h1>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("business.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Consulting</p>
            <h3>Translation Spanish-German</h3>
            <p><i class="fas fa-user"></i> Monica</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
          <%end%>
        </div>
        <div class="card">
          <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("grammar.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Education</p>
            <h3>Spanish Lesson</h3>
            <p><i class="fas fa-user"></i> Carlos</p>
            <p><i class="fas fa-map-marker-alt"></i> Remote and Berlin</p>
            </div>
          <%end%>
        </div>
        <div class="card">
          <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("trolley.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Transport</p>
            <h3>Help Packing</h3>
            <p><i class="fas fa-user"></i> Frank</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
        <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("paint-brush.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Home</p>
            <h3>Electrical work</h3>
            <p><i class="fas fa-user"></i> Andrea</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin and Postdam</p>
            </div>
          <%end%>
        </div>
        <div class="card">
        <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("business.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Consulting</p>
            <h3>Tax Advice</h3>
            <p><i class="fas fa-user"></i> Boris</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin and Remote</p>
            </div>
          <%end%>
        </div>
        <div class="card">
        <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("clock.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Miscellaneous</p>
            <h3>Psychological Advise</h3>
            <p><i class="fas fa-user"></i> John</p>
            <p><i class="fas fa-map-marker-alt"></i> London and Remote</p>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
        <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("sweep.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Cleaning</p>
            <h3>Cleaning</h3>
            <p><i class="fas fa-user"></i> Carla</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
        <%end%>
        </div>
        <div class="card">
        <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("charity.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Care</p>
            <h3>Baby Sitting</h3>
            <p><i class="fas fa-user"></i> Carla</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
          <%end%>
        </div>
        <div class="card">
        <%= link_to services_path, style: "text-decoration: none; color: #756C83;" do %>
          <div class="carousel-img">
          <%= image_tag("grammar.png", alt: "Service Picture") %>
          </div>
            <div class="carousel-text">
            <p>Education</p>
            <h3>Guitar Lesson</h3>
            <p><i class="fas fa-user"></i> Carlos</p>
            <p><i class="fas fa-map-marker-alt"></i> Berlin</p>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>

<div class="about-us">
  <div class="container">
    <h1 class="text-center"><b> Why Fairpay? </b></h1>
    <div class="row">
      <div class ="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="about-img">
            <%= image_tag("https://ph-files.imgix.net/81c8176a-1b00-4f10-b60f-2ab2729d0a14.png?auto=format",
             alt: "Service Picture", style:"max-height: 90%; max-width: 90%;") %>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">This is <b>Anna</b>.</h5>
            <p class="card-text">She is a single mother living in Berlin. Her passion is dancing, and she had been wanting to go to Salsa classes. Unfortunately, all her courses were in the late afternoon when she was Looking after her little daughter at home.</p>
          </div>
        </div>
      </div>
      <div class ="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Thanks to <b>Fairpay</b> she found Carla who takes care of her daughter during her Salsa classes. She pays Carla with credits which she earns</p>
          <div class="about-img">
            <%= image_tag("charity.png", alt: "Service Picture") %>
          </div>
            <p class="card-text">from grocery shopping for an elderly lady when her daughter is at Kindergarten. </p>
          </div>
        </div>
      </div>
      <div class ="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">She is grateful to have found a web app, where she can offer her time to help someone and that gives her the opportunity to “pay” for a service that she needs and couldn't afford paying for every week. </p>
          <div class="about-img" style="margin-top: 15px;">
            <%= image_tag("clock.png", alt: "Service Picture") %>
          </div>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
