<div class="container py-5 mx-auto">
  <h1 class= "text-center"> Give <span style="color: #F38181;" ><%=@service.user.first_name%></span> your feedback!</h1>
  <div class="form_card">
    <%= simple_form_for [@service, @review] do |f| %>
      <div class="row justify-content-between text-left">
         <%= simple_fields_for :booking do |b| %>
            <%= b.input :id, input_html: { value: params[:booking_id] }, as: :hidden %>
         <% end %>

        <div class="form-group col-sm-6 p-3 flex-column d-flex">
          <%# <label class="form-control-label">Provider</label><p class="detail-container"><%= @service.user.first_name</%>
          <label class="form-control-label">Service</label><p class="detail-container"><%= @service.name %></p>
        </div>

        <div class="form-group col-sm-6 p-3 flex-column d-flex">
          <label class="form-control-label">Location</label><p class="detail-container"><%= @service.location %></p>
        </div>

        <hr>

        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience",
          input_html: {data: {controller: "star-rating"}} %>
        <div class="form-group col-12 p-3 flex-column d-flex">
          <%= f.input :content, as: :text, required: true, class:"text-area", input_html: { maxlength: 100} %>
          <div class="text-center form-group p-3">
            <%= f.submit "Submit your review", class: "btn-call-action"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
